* {
	margin: 0;
	padding: 0;
	font-family: "Courier New", monospace;
	font-size: 20px;
}


body {

	background-color: rgb(249, 141, 231);
}

html {
	scroll-behavior: smooth;
}

nav {

	background-color: white;
}



a:hover {
	background-color: #b4d6de;
}


div{
	display: inline-block;
	float: right;
}

h1 {

	color: black !important;
	text-align: center;
	font-size: 2rem;

}


section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

#ceu-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

ol {
	list-style-type: none;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%
}


#ceu-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#learning-list li {
	color: #075966;
}


/*h2 ~ a {
	text-decoration: none;
}*/

a{
	text-decoration: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;

	position: relative;
	left: 37.25%;
}


section > form > label {
	color: rgb(0, 0, 128);
}


button {
	background-color: #16B3FC;
	color: white;
	border: 0;
	border-radius: 15px;
}